
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

@layer utilities {
    li {
      @apply cursor-pointer;
    }
  }

  .content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
  background: linear-gradient(to right, #a73737, #7a2828)!important;
}